*~
/project/local.properties
/project/bin
/project/gen
/project/lib
/project/libs
/project/assets
/project/obj
/project/jni/application/*/libapplication*.so
/project/jni/application/src
/project/res/drawable-xhdpi/ouya_icon.png
/project/res/drawable/app_icon.png
/project/proguard-project.txt
/project/proguard-local.cfg
/project/themes/converter
/project/jni/android-support
/project/res/drawable/banner.png
/project/jni/openssl/include/openssl/opensslconf.h
/project/jni/application/xserver-vrx/vrxwm/AUTHORS
/project/jni/application/xserver-vrx/vrxwm/COPYING
/project/jni/application/xserver-vrx/vrxwm/ChangeLog
/project/jni/application/xserver-vrx/vrxwm/INSTALL
/project/jni/application/xserver-vrx/vrxwm/Makefile.in
/project/jni/application/xserver-vrx/vrxwm/NEWS
/project/jni/application/xserver-vrx/vrxwm/README
/project/jni/application/xserver-vrx/vrxwm/aclocal.m4
/project/jni/application/xserver-vrx/vrxwm/autom4te.cache/
/project/jni/application/xserver-vrx/vrxwm/build-armeabi-v7a/
/project/jni/application/xserver-vrx/vrxwm/build-x86/
/project/jni/application/xserver-vrx/vrxwm/compile
/project/jni/application/xserver-vrx/vrxwm/config.guess
/project/jni/application/xserver-vrx/vrxwm/config.h.in
/project/jni/application/xserver-vrx/vrxwm/config.sub
/project/jni/application/xserver-vrx/vrxwm/configure
/project/jni/application/xserver-vrx/vrxwm/depcomp
/project/jni/application/xserver-vrx/vrxwm/install-sh
/project/jni/application/xserver-vrx/vrxwm/ltmain.sh
/project/jni/application/xserver-vrx/vrxwm/m4/
/project/jni/application/xserver-vrx/vrxwm/missing
/project/jni/application/xserver-vrx/xserver/
